#menu
{
	position: fixed;
    z-index: 1;
    font-size: 17px;
    padding: 12px;
    letter-spacing: 1.5px;
    font-family: Segoe UI;
	width: 100%;
	height: 29px;
	color:white!important;background-color:white!important;
	overflow:hidden;
	white-space:normal;
	position:static;
}
body{
    background: url(background.jpg) ;
	background-attachment: fixed;
    margin: 20px auto;	
}
.menubar{
	border:none;
	padding:12px;
	vertical-align:middle;
	overflow:hidden;text-decoration:none;
	background-color:white;text-align:center;cursor:pointer;
	white-space:nowrap;
	outline:0;
	color:black;
	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-moz-user-select:none;
	white-space:normal;
	width:100%;
	white-space:normal;
	float:none;
}
.menubar:hover{color:white!important;background-color:pink!important}

.menubar:disabled{cursor:not-allowed;opacity:0.3}.w3-disabled *,:disabled *{pointer-events:none}
.logo{
	top: 4px;
	left: 90%;
	position: fixed;
	background-image: white;
	background-color:white;
}
.mySlides{
	
	position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);
}

article{
	text-shadow:5px 5px 5px gray;
	background-position:center;
	text-align: center;
	font-size: 36px;
	font-family:Segoe UI,Bradley Hand ITC;
	width: 100%;
}
p{
	text-shadow:1px 1px 1px gray;
	text-align: center;
	font-weight:bold;
	font-size: 24px;
	font-family:Bradley Hand ITC;
	
}
li{
	font-size: 24px;
	font-family:Bradley Hand ITC;
	font-weight:bold;
	text-shadow:1px 1px 1px gray;
	text-align: left;
}
nav
{
	position: absolute;
	left: 0px;
	width: 25%;
	height: 90%;
}
aside
{
	position: absolute;
	left: 75%;
	width: 25%;
	height: 90%;
}
section
{
	background-color: rgba(255, 255, 255, 0.7);
	position: relative;
	left: 25%;
	width: 50%;
	height: 100%;
}
input{
	width: 40%;
	height: 20%;
}
.button{
	background-color: pink;
	color: black;
    border: 2px solid black;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.	4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
	width: 75px;
	height: 40px;
	border-radius: 30px;
	
}
.button:hover {
    background-color: white;
    color: black;
	border: 2px solid black;
}
.w3-display-container{position:relative}
.w3-content{max-width:980px;margin:auto}
.w3-display-left{position:absolute;top:50%;left:0%;transform:translate(0%,-10%);-ms-transform:translate(-0%,-10%)}
.w3-display-right{position:absolute;top:50%;right:0%;transform:translate(0%,-10%);-ms-transform:translate(0%,-10%)}
.w3-black{color:#fff!important;background-color:#000!important}
.w3-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.w3-button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}   
.w3-button{width:3%;text-align:left;padding:8px 16px}
.w3-button{white-space:normal}
